.contact-form-container {
  width: 450px;
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.4);
  background-color: white;  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg,var(--primary), #48eaf8);
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 55px 40px 55px;
  pointer-events: all;
}

.contact-form-title {
  color: white;
  font-size: 24px;
  margin-bottom: 27px;
}
.contact-form-title > span {
  font-weight: 300;
}

.field {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  padding: 5px;
}
.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #3AC6E6 inset;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 500ms ease-in;
}

.field-container {
  position: relative;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 27px;
}

.error-msg {
  margin-top: -20px;
  margin-bottom: 27px;
  font-size: 12px;
  color: #272d7a;
  padding: 0 5px;
}

.contact-form-btn {
  margin-top: 27px;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  min-width: 120px;
  height: 50px;
  border-radius: 2px;
  position: relative;
  background: white;
  transition: all 0.4s;
}
