.header-container {
  position: fixed;
  top:0;
  width: 100%;
  background-color: white;
  padding: 5px 10% 5px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 300ms;
  transition: padding 300ms;
  /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35); */
}

.logo{
  transition: width 300ms;
  cursor: pointer;
}


.header-menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  color: var(--header-text-color);
}
.header-menu > li {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background 0.4s ease-in-out;
}
.header-menu > li:hover {
  background: var(--very-light-gray);
}

.header-menu > li > a{
  font-size: 15px;
  color:inherit;
  text-decoration: none;
}


.selected {
  color: var(--header-text-color);
  font-weight: 700;
}

.sub-home-menu {
  cursor: default;
  animation-name: fadein;
  animation-duration: .3s;
  z-index: 1000;
  width: 200px;
  transition: width 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 45px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 20px 0px;
}
@keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1;}
}
.sub-home-menu > li {
  cursor: pointer;
  color: var(--light-gray);
  font-weight: 400;
  margin: 15px 0;
}

.hamburger-piece{
  display: block;
  height: 2px;
  width: 17px;
  margin: 0 0 4px;
  background: var(--primary);
}


.header-light-bg{
  background-color: rgba(0,0,0,0.35);
  padding: 30px 10% 30px 10%;
}

.header-light-txt > li:hover {
  background: none;
}

.is-text-light{
  color:white;
}

@media screen and (max-width: 1080px){
  
  .header-container {
    padding: 40px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu{
    position: absolute;
    right: 15px;
    top:80px;
    background: white;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 330px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    animation: fadein .3s;
  }

}
