.st1 {
  fill: #fff;
}
.st2 {
  fill: #fdbd29;
}
.st26 {
  fill: #2e3192;
}
.st28 {
  fill: #272d7a;
}
.st29 {
  fill: #8cc63f;
}
.st30,
.st31 {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st31 {
  stroke: #2a272d;
  stroke-width: 5;
}
.st32 {
  fill: #f2c09e;
}
.st34 {
  fill: #fcc9a7;
}
.st35 {
  fill: #1f252a;
}
.st36 {
  fill: #ffeee3;
}
.st38 {
  fill: #1c2226;
}
.st39 {
  fill: #4d4d4d;
}
.st40 {
  fill: #2a272d;
}
.st41 {
  fill: #ff8c00;
}
.st42 {
  fill: none;
  stroke: #ff8c00;
  stroke-width: 0.7847;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st45 {
  fill: #ccc;
}
.st48 {
  fill: #39b54a;
}
.st49 {
  fill: #e6e6e6;
}
